/* Custom CSS */

/* 设置头像大小位置 */
.sidebar .widget-about header {
    text-align: center;
}

.sidebar .widget-about .logo {
    max-width: 12em;
    margin: auto;
}

.sidebar .widget-about .logo img {
    max-width: 12rem;
    max-height: 12rem;
    border-radius: 100%;
    border: .5rem solid #ff0000;
}

/* 设置主题 */
#sidebar {
    background: #d35050;
}

.sidebar .widget-about .title.site-title a {
    color: #ffffff;
}

#sidebar-menu > div > ul > li.item.has-children > button {
    background: #d35050;
}

.title, h1, h2, h3, h4, h5, h6, a {
    color: #ffffff;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #212121;
    color: #a2a2a2;
}

/* 设置界面大小 */
/* #sidebar {
    width: 345px;
}

.has-sidebar .main {
    margin-left: 345px;
} */

/* 设置字体高亮 */
.burk {
    background-color: red;
    color: yellow;
    display: inline-block;
}

.mark {
    background-color: yellow;
    color: red;
    display: inline-block;
}

.girk {
    background-color: lime;
    color: red;
    display: inline-block;
}

/* 表格样式 */

