* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

#tabBox {
	box-sizing: border-box;
	margin: 20px auto;
	width: 500px;
}

#navBox {
	/* 只要把容器设置为FLEX弹性盒子容器，那么容器中的子元素默认在容器主轴(X轴)水平靠左排列 */
	display: flex;
	position: relative;
	top: 1px;
}

#navBox li {
	box-sizing: border-box;
	margin-right: 10px;
	padding: 0 10px;
	line-height: 35px;
	border: 1px solid #999;
}

#navBox li.active{
	border-bottom-color: #FFF;
}

#tabBox>div {
	display: none;
	box-sizing: border-box;
	padding: 10px;
	height: 150px;
	border: 1px solid #999;
}

#tabBox>div.active {
	display: block;
}