<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>条件渲染</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <!-- 单个v-if -->
        <!-- <h1 v-if="awesome">Vue is awesome!</h1> -->

        <!-- 也可以添加v-else -->
        <!-- <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no ☹</h1> -->

        <!-- 在template元素上使用v-if条件渲染分组 -->
        <!-- <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>   
        </template> -->

        <!-- v-else 必须更在v-if或者v-else-if后面, v-else-if可以连续使用-->
        <!-- <div v-if="Math.random() > 0.5">
            Now you see me
        </div>
        <div v-else-if="Math.random() > 0.3"> 
            I see you 
        </div>
        <div v-else>
            Now you don't
        </div> -->

        <!-- 使用key管理可复用的元素 -->
        <!-- <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>
        <div>
            <button v-on:click="toggleLogin">Toggle login type</button>
        </div> -->

        <!-- v-show 只是进行简单的css切换, 不支持template元素，也不支持v-else-->
        <h1 v-show="ok">Hello!</h1>

        <!-- 不推荐v-for和v-if同时使用 -->
    </div>
</body>
<script>
    var data = {
        awesome: 0,
        ok: 1,
        loginType: 'username',
    };
    var vm = new Vue({
        el: '#app',
        data: data,
        methods: {
            toggleLogin(){
                if(this.loginType === 'username'){
                    this.loginType = null;
                }else{
                    this.loginType = 'username';
                }
            }
        }
    });
</script>
</html>