<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue 核心最基本的功能</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <!-- v-if的练习 -->
        <p v-if="seen">你看到我了</p>
        <p v-if="!seen">你没有看到我</p>
        <!-- v-for的练习 生成一个无序列表-->
        <ul v-for="todo in todoList">
            <li>{{ todo }}</li>
        </ul>
        <!-- v-for生成有序列表 -->
        <ol v-for="order in orders">
            <li>{{ order.name }}</li>
        </ol>
        <!-- 为什么编号一直是1 -->
        <!-- 使用v-on实现时间的绑定 ，可以简写为@-->
        <div>
            <p>{{ message }}</p>
            <button @click="reverseMessage">消息反转</button>
        </div>
        <!-- 使用v-model实现数据的双向绑定 -->
        <input v-model="message">

        <!-- 一个使用了component和v-bind:的例子，v-bind可以简写为: -->
        <ol>
            <todo-item v-for="item in todoList" 
            v-bind:todo="item"></todo-item>
        </ol>
        <!-- 这里有个疑问为什么vue.component创建ol和vue.for创建的不一样
        为什么componnet的ol是有序的 -->
        <ol>
            <food v-for="name in foods" v-bind:fname="name"></food>
        </ol>
    </div>
</body>
<script>
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo }}</li>'
    });

    var vm = new Vue({
        el: "#app",
        data: {
            seen: false,
            todoList: [
                "张三",
                "李四",
                "王五",
            ],
            orders: [
                {name: "张三"},
                {name: "李四"},
                {name: "王五"},
            ],
            message: "赵兄托我办点事",
            foods: [
                "香蕉",
                "西瓜",
                "芒果",
                "苹果",
            ]
        },
        methods: {
            reverseMessage(){// 翻转字符串
                this.message = this.message.split('').reverse().join(''); //这种join的写法与python刚好相反
                //并且js的split字符串没有默认切割的方法，python是默认''切割字符串
            }
        }, 
        // componet: {
        //     food: {
        //         prop: ['fname'],
        //         template: '<li>{{ fname }}</li>'
        //     }
        // }
        // 这种写法的componet无效
    });

</script>
</html>

<!-- v-if可以输入javascript代码 -->
<!-- v-for指令中也可以输入javascript代码，这种代码风格与python很相似，
    如果遍历的时候取出的是一个对象就会把这个对象转换成字符串 -->