<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>事件处理</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js">
    </script>
    <style>
        .innerDiv {
            background-color: #ff0000;
            width: 100px;
            height: 100px;
        }
        .outerDiv {
            background-color: aqua;
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <!-- 监听事件 -->
    <!-- <div id ="example-1">
        <button v-on:click="counter += 1">Add 1</button>
        <p>The button above has been clicked {{ counter }} times</p>
    </div> -->

    <!-- 事件处理方法 -->
    <!-- <div id="example-2">
        <button v-on:click="greet">Greet</button>
    </div> -->

    <!-- 内联处理器中的方法 -->
    <!-- <div id="example-3">
        <button v-on:click="say('hi')">Say hi</button>
        <button v-on:click="say('what')">Say what</button>
        <button v-on:click="warn('Form cannot be submitted yet.', $event)">
            Submit
        </button>
    </div> -->

    <!-- 事件修饰符 -->
    <!-- <div id="example-4"> -->
        <!-- 阻止单击事件继续传播 -->
        <!-- <div class="innerDiv" v-on:click="doThis('div')">
            <a v-on:click.stop="doThis('a')">do this</a>
        </div> -->

        <!-- 提交事件不在重载页面 -->
        <!-- <form v-on:submit.prevent="onSubmit">
            <label for="name">Name:</label>
            <input v-model="name">
            <input type="submit" value="Save">
        </form> -->

        <!-- 修饰符可以串联 -->
        <!-- <div class="innerDiv" v-on:click="doThis('innerDiv')">
            <a href="https://www.baidu.com" v-on:click.stop.prevent="doThis('a')">do this</a>
        </div> -->

        <!-- 只有修饰符 仅仅是不刷新页面-->
        <!-- <form v-on:submit.prevent>
            <label for="name">Name:</label>
            <input v-model="name">
            <input type="submit" value="Save">
        </form> -->

        <!-- 添加事件监听器时使用时间捕获模式 -->
        <!-- 即元素自身触发的事件先在此处理，然后才交由内部元素进行处理 -->
        <!-- <div class="innerDiv" v-on:click.capture="doThis('innerDiv')">
            <button v-on:click="doThis('button')">点击</button>
        </div> -->

        <!-- 只当在event,target是当前元素自身是触发处理函数 -->
        <!-- 即事件不是从内部元素触发的 -->
        <!-- <div class="outerDiv" v-on:click="doThis('outerDiv')">
            <div class="innerDiv" v-on:click.prevent.self="doThis('innerDiv')">
                <button v-on:click="doThis('button')">点击</button>
            </div>
        </div> -->

        <!-- 点击事件将只会触发一次 -->
        <!-- <a v-on:click.once="doThis('a')">a标签</a> -->

        <!-- 滚动事件的默认行为（即滚动行为）将会立即触发 -->
        <!-- 而不会等待onScroll完成 -->
        <!-- 这其中包含event.preventDefault()的情况 -->
        <!-- <div v-on:scroll.passive="onScoll"></div> -->
    <!-- </div> -->

    <!-- 按键修饰符 -->
    <!-- <div id="example-5"> -->
        <!-- 只有在key是Enter时调用vm.submit() -->
        <!-- <input v-on:keyup.enter="submit"> -->

        <!-- 你可以直接将KeyboardEvent.key暴露的任意有效按键名转换为kebab-case来修饰符 -->
        <!-- <input v-on:keyup.page-down="onPageDown"> -->

        <!-- 按键码 -->
        <!-- <input v-on:keyup.enter="submit('enter')"> -->
        <!-- <input v-on:keyup.delete="submit('delete')"> -->
        <!-- <input v-on:keyup.esc="submit('esc')"> -->
        <!-- <input v-on:keyup.space="submit('space')"> -->
        <!-- <input v-on:keyup.up="submit('up')"> -->
        <!-- <input v-on:keyup.down="submit('down')"> -->
    <!-- </div> -->

    <!-- 系统修饰键 -->
    <div id="example-6">
        <!-- Alt + C -->
        <!-- <input v-on:keyup.alt.67="clear"> -->

        <!-- Ctrl + Click -->
        <!-- <div @click.Ctrl="doSomething">Do something</div> -->

        <!-- .exact修饰符 -->
        <!-- .exact修饰符允许你控制由精确的系统修饰符组合触发的事件 -->
        <!-- 即使Alt或Shift被一同按下时也会触发 -->
        <!-- <button v-on:click.ctrl="onClick('触发ctrl或alt')">A</button> -->

        <!-- 有且只有Ctrl被按下的时候才触发 -->
        <!-- <button v-on:click.ctrl.exact="onClick('只有Ctrl被按下的时候才触发')">A</button> -->

        <!-- 没有任何系统修饰符被按下的时候才触发 -->
        <!-- <button v-on:click.exact="onClick('没有修饰符触发')">A</button> -->

        <!-- 鼠标按钮修饰符 -->
        <!-- .left, .right, .middle -->
    </div>
</body>
<script>
    // 监听事件
    // var example1 = new Vue({
    //     el: '#example-1',
    //     data: {
    //         counter: 0,
    //     },
    // });
    
    // 事件处理方法
    // var example2 = new Vue({
    //     el: '#example-2',
    //     data: {
    //         name: 'Vue.js',
    //     },
    //     methods: {
    //         greet: function(event){
    //             alert('Hello ' + this.name + '!');
    //             if(event){
    //                 alert(event.target.tagName);
    //             }
    //         }
    //     }
    // });

    // 内联处理器中的方法
    // new Vue({
    //     el: '#example-3',
    //     methods: {
    //         say: function(message){
    //             alert(message);
    //         },
    //         warn: function(message, event){
    //             if(event){
    //                 event.preventDefault();
    //             }
    //             alert(message);
    //         }
    //     }
    // });
    
    // 事件修饰符
    // new Vue({
    //     el: '#example-4',
    //     data: {
    //         name: 123,
    //     },
    //     methods: {
    //         doThis(msg){
    //             alert(msg);
    //         },
    //         onSubmit(msg){
    //             alert(this.name);
    //         }
    //     }
    // });

    // 按键修饰符
    // new Vue({
    //     el: '#example-5',
    //     data: {

    //     },
    //     methods: {
    //         submit(msg){
    //             alert(msg);
    //         },
    //     }
    // });

    // 系统修饰键
    new Vue({
        el: '#example-6',
        data: {

        },
        methods: {
            onClick(msg){
                alert(msg);
            }
        }
    });
</script>
</html>