<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件基础</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
    <!-- <div id="components-demo"> -->
        <!-- 基本示例 -->
        <!-- <button-counter></button-counter> -->

        <!-- 组件的复用 -->
        <!-- <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>  -->

        <!-- 通过prop向子组件传递数据 -->
        <!-- <blog-post title="My journey with Vue"></blog-post>
        <blog-post title="Blogging with Vue"></blog-post>
        <blog-post title="Why Vue is so fun"></blog-post> -->

        <!-- <blog-post 
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:title="post.title"></blog-post> -->

        <!-- 单个根元素 -->
    <!-- </div> -->
    <!-- 监听子组件事件 -->
    <!-- <div id="blog-posts-events-demo"> -->
        <!-- <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:post="post"
                v-on:enlarge-text="postFontSize += $event">
            </blog-post>
        </div> -->

        <!-- 在组件上使用v-model -->
        <!-- <input v-model="searchText"><label>{{ searchText }}</label> -->

        <!-- 等价于 -->
        <!-- <input
            v-bind:value="searchText"
            v-on:input="searchText = $event.target.value">
        <label>{{ searchText }}</label> -->

        <!-- <custom-input v-model="searchText"></custom-input> -->
    <!-- </div> -->

    <!-- 通过插槽分发内容 -->
    <!-- <div id="app">
        <alert-box>
            Something bad happened.
        </alert-box>
    </div> -->
</body>
<script>
    // Vue.component('button-counter', {
    //     data: function(){
    //         return {
    //             count: 0
    //         }
    //     },
    //     template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    // });
    // Vue.component('blog-post', {
    //     props: ['title'],
    //     template: '<h3>{{ title }}</h3>',
    // });
    // var vm = new Vue({
    //     el: '#components-demo',
    //     data: {
    //         posts: [
    //             {id: 1, title: 'My journey with Vue'},
    //             {id: 2, title: 'Blogging with Vue'},
    //             {id: 3, title: 'Why Vue is so fun'}
    //         ],
    //     },
    // });

    // 监听子组件事件
    // 使用事件抛出一个值
    // Vue.component('blog-post', {
    //     props: ['post'],
    //     template: `
    //     <div class="blog-post">
    //         <h3>{{ post.title }}</h3>
    //         <button v-on:click="$emit('enlarge-text', 0.1)">
    //             Enlarge text
    //         </button>
    //         <div v-html="post.content"></div>
    //     </div>
    //     `
    // });
    // Vue.component('custom-input', {
    //     props: ['value'],
    //     template: `
    //     <input
    //         v-bind:value="value"
    //         v-on:input="$emit('input', $event.target.value)">
    //     `
    // });
    // new Vue({
    //     el: '#blog-posts-events-demo',
    //     data: {
    //         posts: [
    //             { id: 1, title: 'My journey with Vue' },
    //             { id: 2, title: 'Blogging with Vue' },
    //             { id: 3, title: 'Why Vue is so fun' },
    //         ],
    //         postFontSize: 1,
    //         searchText: '搜索文本',
    //     },
    //     methods: {
    //         onEnlargeText(enlargeAmount){
    //             this.postFontSize += enlargeAmount;
    //         },
    //     }
    // });

    // 通过插槽分发内容
    // Vue.component('alert-box', {
    //     template: `
    //     <div class="demo-alert-box">
    //         <strong>Error!</strong>
    //         <slot></slot>
    //     </div>
    //     `
    // });
    // new Vue({
    //     el: '#app',
    // });

    
</script>
</html>